<h2>Shopping Cart</h2>

<p><button (click)="clearCart()" [disabled]="cartService.cartItems.length == 0" type="button">Clear</button></p>

<div class="cart-item" *ngFor="let item of cartService.cartItems">
  <span>{{ item.name }}</span>
  <span>{{ (item.price * item.quantity) | currency }} CAD</span>
  <span> 
    <button (click)="decrementItemQuantity(item)" type="button">-</button>
    {{ item.quantity }}
    <button (click)="incrementItemQuantity(item)" [disabled]="item.quantity >= 5" type="button">+</button>
  </span>
  <span><button (click)="deleteItem(item)"><i class="material-icons">delete</i></button></span>
</div>


<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>

</form>