<h2>Shopping Cart</h2>

<button (click)="clearCart()" [disabled]="!items" type="button" class="add-i-b valdown">Clear</button>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ (item.price * item.quantity) | currency }}</span>
  <span> 
    <button (click)="decrementItemQuantity(item)" [disabled]="item.quantity <= 0" type="button" class="add-i-b valdown">-</button>
    {{ item.quantity }}
    <button (click)="incrementItemQuantity(item)"  type="button" class="add-i-b valup">+</button>
  </span>
  <span><button (click)="deleteItem(item)"><i class="material-icons">delete</i></button></span>
</div>