<h2>Item Details</h2>

<div *ngIf="item">
  <h3>{{ item.name }}</h3>
  <h4>{{ item.price | currency }} CAD</h4>
  <p>{{ item.description }}</p>

  <span>
    <p>
      <button (click)="decrementItemQuantity(item)" [disabled]="item.quantity <= 0" type="button" class="add-i-b valdown">-</button>
      {{ item.quantity }}
      <button (click)="incrementItemQuantity(item)"  type="button" class="add-i-b valup">+</button>
    </p> 
  </span>

  <p><button [disabled]="item.quantity < 1" (click)="addToCart(item)">Add to Cart</button></p>
</div>
