<h2>Mom's Menu</h2>

<p><mat-divider></mat-divider></p>

<span *ngFor="let filter of filters">
    <mat-checkbox [checked]="filter.checked" (change)="onCheckboxChange(filter)">
        {{filter.name}}
    </mat-checkbox>
</span>

<p><mat-divider></mat-divider></p>

<ng-container *ngIf="!isEmpty()">
    <div *ngFor="let item of filteredItems">
        <!--NAME OF ITEM-->
        <a [title]="item.name + ' details'"
            (click)="routeTo(item)">
            {{ item.name }}
        </a>

        <!--DESCRIPTION-->
        <p *ngIf="item.description">
            Description: {{ item.description }}
        </p>

        <!--PRICE-->
        <p *ngIf="item.price">
            Price: {{item.price | currency}} CAD
        </p>

        <p><mat-divider></mat-divider></p>

    </div>
</ng-container>

<ng-container *ngIf="isEmpty()">
    <h1>Please select a category</h1>
</ng-container>